.container {
  margin-top: 5%;
}

.radio-input {
  margin-right: 2%;
}

.title {
  text-align: center;
}

.inscription-content,
.etudiant-content {
  margin-bottom: 4%;
}

.gap {
  margin-bottom: 5%;
}

.required {
  color: red;
}
